*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: rgb(217,195,175);
  background: linear-gradient(120deg, rgba(217,195,175,1) 0%, rgba(245,241,235,1) 44%, rgba(190,159,134,1) 100%);
  background-size: 300% 300%;
  background-image: linear-gradient(
        70deg,
        rgba(217,195,175,1) 0%,
        rgba(255,245,235,1) 25%,
        #ffcea6 50%,
        #fffaf5 100%
  );
  animation: AnimateBG 10s ease infinite;
  width: 800px;
  margin: 0 auto;
  line-height: 36px;
}

/* .bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg,
        rgba(59,173,227,1) 0%,
        rgba(87,111,230,1) 25%,
        rgba(152,68,183,1) 51%,
        rgba(255,53,127,1) 100%
  );
  animation: AnimateBG 20s ease infinite;
} */

@keyframes AnimateBG {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #753422;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin-left: 16px;
}

.navbar ul li a {
  text-decoration: none;
  padding: 6px 12px;
  color: #753422;
  border-radius: 50px;
  transition: 0.4s ease;
}

.navbar ul li a:hover {
  background-color: #be9f86;
  color: rgb(245, 255, 245);
}

.name {
  font-family: 'Nunito', sans-serif;
  color: #753422;
  font-size: 28px;
  text-decoration: none;
}

h3 {
  font-family: 'Pontano Sans', sans-serif;
  letter-spacing: 2px;
  color: #5E432F;
  font-size: 14px;
}

h4 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: #D79771;
  font-size: 24px;
}

.trad-chinese {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: #D79771;
  font-size: 24px;
}

p {
  font-family: 'Literata', serif;
  font-weight: 400;
  color: #B05B3B;
  font-size: 16px;
}

.coffee-shop {
  font-family: 'Nunito', sans-serif;
  color: #753422;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.card-white {
  background-color: rgb(245, 255, 245);
  padding: 40px;
  margin: 40px 0;
  border-radius: 4px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.05);
  transition: 0.2s ease;
}

.card-white:hover {
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

#profile-picture {
  width: 360px;
  border-radius: 5px;
  transition: 0.2s ease;
}

#profile-picture:hover {
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

.pictures {
  width: 360px;
  height: 360px;
  border-radius: 5px;
  margin: 12px 8px 12px 8px;
  transition: 0.4s ease;
}

.pictures:hover {
  width: 380px;
  height: 380px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

.navigation {
  font-family: 'Pontano Sans', sans-serif;
  letter-spacing: 2px;
  color: #D79771;
  font-size: 14px;
}

.btn {
  background-color: #753422;
  padding: 8px 20px;
  border-radius: 4px;
  color: rgb(240, 250, 230);
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: 0.4s ease;
}

.btn:hover {
  background-color: #D79771;
  color: #402218;
  padding: 8px 20px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}

.list-incline {
	list-style: none;
}

.list-incline li {
  display: inline;
  margin: 20px;
}

/* .navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #897853;
  border-radius: 5px;
}

.menu {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  color: rgb(240, 250, 230);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  transition: 0.4s ease;
}

.menu a:hover {
  background-color: #4E3620;
} */

.fa-brands {
  font-size: 36px;
}


/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(245, 255, 245);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
} */ */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
.text {
  font-family: 'Pontano Sans', sans-serif;
  letter-spacing: 2px;
  color: rgb(245, 255, 245);
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: 'Pontano Sans', sans-serif;
  letter-spacing: 2px;
  color: rgb(245, 255, 245);
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  line-height: 18px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* @media (max-width: 800px) {
  .navbar {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .navbar {
    width: 50%;
  }
}

@media (max-width: 540px) {
  .navbar {
    width: 40%;
  }
} */

/* .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 1080px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .cards {
    grid-template-columns: 1fr;
  }
} */

.carousel {
  width: 90%;
  height: 400px;
  position: relative;
  margin: 0 auto;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.slide-text {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  background-color: rgba(0, 0, 0, 0.4);
  width: 160px;
  padding: 4px;
  font-size: 14px;
  color: white;
  opacity: 0.5;
}

.slide > p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1.5;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
  /* border-radius: .25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1); */
  z-index: 2;
  transition: 0.3s ease;
}

.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}

/* .carousel-button:focus { */
  /* outline: 1px solid black; */
/* } */

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
